.wrapper {

}

.select_item_list {
    width: 10%;
    height: 0;
    background-color: #6D5BFD;
    transition: all .4s;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: transparent;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.select_item_list_active {
    width: 10%;
    height: 20vh;
    background-color: #6D5BFD;
    transition: all .4s;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
}

.current {
    background-color: white;
    color: #6D5BFD;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s all;
}

.none_current {
    cursor: pointer;
}

.select_item_list_active > div {
    margin-bottom: 10px;
}