.btn {
    margin-top: 45px;
    margin-left: 40px;
    width: 43px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
}

.burger_menu span {
    display: block;
    width: 43px;
    height: 5px;
    margin-bottom: 8px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    background-color: #2B3848;
    cursor: pointer;
}

.menu {
    position: fixed;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px 50px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s ;
    background-color: #475256;
    width: 20%;
    height: 85vh;
    color: white;
}

.menu_active {
    position: fixed;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px 50px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: none;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color: #475256;
    width: 20%;
    height: 85vh;
}

.login {
    font-family: Raleway, serif;
    font-size: 36px;
    margin-left: 45px;
    margin-top: 90px;
    color: white;
}

.list {
    margin-top: 70px;
}

.list_item {
    font-family: Raleway, serif;
    font-size: 24px;
    font-weight: 200;
    margin-left: 45px;
    color: white;
    padding: 20px 0;
}