.item {
    margin-bottom: 40px;
    width: 95%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
    font-family: Raleway, serif;
    border-radius: 15px;
    transition: .4s all;
    font-size: 20px;
}

.id {
    margin: 0 30px;
}

.left_side {
    display: flex;
}

.right_side {
    display: flex;
}
.right_side p {
    margin-right: 30px;
    cursor: pointer;
}

.right_side a {
    color: #6D5BFD;
    margin-right: 20px;
}

.right_side p {
    color: #D645FB;
}