.block {
    width: 22%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block img {
    margin-top: 20px;
    width: 310px;
    height: 62px;
}