.main_block {
    margin: 20px auto;
    width: 95%;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    font-size: 18px;
    transition: all .4s;
}

.main_block:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.main_block__wrapper {
    margin: 0 auto;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    width: 25%;
    justify-content: space-between;
    font-weight: 300;
}

.change {
    color: #6D5BFD;
    cursor: pointer;
}

.delete {
    color: #D645FB;
    cursor: pointer;
}